<footer style="background-color: #333; color: #fff; padding: 15px;">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <div style="display: flex ;flex-direction: column;align-items: center; justify-content: center;">
      <p>Siga-nos nas redes sociais</p>
      <div>
          <a href="#" style="margin-right: 10px; color: #fff; text-decoration: none;"><i class="bi bi-facebook"></i></a>
          <a href="#" style="margin-right: 10px; color: #fff; text-decoration: none;"><i class="bi bi-twitter"></i></a>
          <a href="#" style="margin-right: 10px; color: #fff; text-decoration: none;"><i class="bi bi-instagram"></i></a>
      </div>
  </div>
</footer>