<footer style="background-color: #333; color: #fff; padding: 20px;">
  <div style="text-align: center;">
      <p>Desenvolvido por <a href="#" style="color: #fff; text-decoration: none;">Ruan Henrique</a></p>
      <p>Siga-nos nas redes sociais:</p>
      <div style="display: flex; justify-content: center;">
          <a href="#" style="margin-right: 10px; color: #fff; text-decoration: none;">Facebook</a>
          <a href="#" style="margin-right: 10px; color: #fff; text-decoration: none;">Twitter</a>
          <a href="#" style="color: #fff; text-decoration: none;">Instagram</a>
      </div>
  </div>
</footer>