<nav class="navbar navbar-expand-lg bg-dark p-3 navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">HOTEL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Hotelaria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/nome">Cadastro</a>
            </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Quartos
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/casal">Solteiro</a></li>
                      <li><a class="dropdown-item" href="#">Casal</a></li>
                      <li><a class="dropdown-item" href="#">Comfort</a></li>
                      <li><a class="dropdown-item" href="#">Luxo</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>