{% extends 'index.html' %}
{% load static %}

{% block title %}
Hotel Senai
{% endblock %}

{% block body %}

<div class="container-fluid main">
    <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner" role="listbox">
            <div class="item active background a"></div>
        </div>
    <div class="covertext">
        <div class="col-lg-10" style="float:none; margin:0 auto;">
            <h1 class="title">HOTEL</h1>
            <h3 class="subtitle" style="padding-top: 30px;">Seu conforto é nossa prioridade!</h3>
        </div>
        <div class="col-xs-12 explore" style="padding-top: 30px;">
            <a href="/reserve"><button type="button" class="btn btn-lg explorebtn">RESERVE JÁ</button></a>
        </div>
    </div>
</div>

{% endblock %}