{% extends 'index.html' %}
{% load static %}

{% block title %}
Reserve Já
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for item in dados_quarto %}	
        <div class="col-md-6 mb-4">
            <div class="card" style="height: 540px; width: 600px; margin: 20px; padding: 10px">
                <div style="display: flex; justify-content: center;">
                    <img src="{{ item.foto_quarto.url }}" style="width: 500px; height: 300px; " alt="logo">
                </div>               
                <div class="card-body">
                    <h5 class="card-title">{{ item.tipo }}</h5>
                    <p class="card-text">{{ item.descricao }}</p>
                    <p class="card-text">Disponibilidade: {{ item.disponibilidade }}</p>
                    <p class="card-text">R$ {{ item.valor }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}